# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*$py.class

# Virtual environments
venv/
.venv/

# Build / Packaging
build/
dist/
*.egg-info/
.eggs/

# Logs & Data
data/
logs/
*.log
  
# Secrets
.env
.env.local
.env.production

# IDE / Editor
.vscode/
.idea/
*.swp

# OS Files
.DS_Store
desktop.ini
Thumbs.db

# Node
node_modules/

############################
#          Custom          #
############################

# Selenium session
chrome_profile/

# Private personal messages
config/greetings_private.txt
config/messages_private.txt